
<h1>ALL LISTS</h1>

<hr>

<% if session[:success] %>
  <div class="flash success">
    <p><%= session.delete :success %></p>
  </div>
<% elsif session[:error] %>
  <div class="flash error">
    <p><%= session.delete :error %></p>
  </div>
<% else %>
  <div class="flash">
    <% if @lists.size.zero? %>
      <p><span class="unbold">You don't have any lists yet. Start by creating one.</span></p>
    <% else %>
      <p><span class="unbold">Nice collection of lists, hero!</span></p>
      <% end %>
  </div>
<% end %>

<% re_order(@lists).each do |list| %>
  <p>
    <a href="/lists/<%= list.path %>" class="box-link<%= if list.done? then ' done' end %>">
      <%= list.name %> (<%= list.number_of_done_items %>/<%= list.size %>)
    </a>
  </p>
<% end %>

<div class="major">
  <p><a href="/lists/new">+ NEW LIST</a></p>
</div>

<hr>
