%h1
  = @list.name

.centered.major
  %form(action="/lists/#{@list.id}/done" method="post" class="toggle")
    %button(type="submit")
      %img(src="/images/check_all.png" height="46px" alt="Check all")

  &nbsp;

  %form(action="/lists/#{@list.id}/rename" method="get" class="toggle")
    %button(type="submit")
      %img(src="/images/edit.png" height="42px" alt="Edit")

  &nbsp;&nbsp;&nbsp;

  %form(action="/lists/#{@list.id}/delete" method="post" class="delete")
    %button(type="submit")
      %img(src="/images/delete.png" height="42px" alt="Delete")

%hr

- haml :flash_list, :layout => :flash_layout

- @list.items.each do |item|
  %p
    %form(action="/lists/#{@list.id}/#{item.id}/delete" method="post" class="delete")
      %button(type="submit")
        %img(src="/images/delete_item.png" height="20px")

    %form(action="/lists/#{@list.id}/#{item.id}/toggle" method="post" class="toggle")
      %button(type="submit")
        %img(src="/images/#{item.done? ? 'done.png' : 'not_done.png'}" height="20px")

    %span(class="box-link#{ ' done' if item.done? }")
      = item.name

.major
  %p
    %a(href="/lists/#{@list.id}/new")
      + NEW ITEM

%hr

.major
  %p
    %a(href="/lists")
      < ALL LISTS
