<h1>Rename list</h1>

<hr>

<% if session[:error] %>
  <div class="flash error">
    <p><%= session.delete :error %></p>
  </div>
<% else %>
  <div class="flash">
    <p>
      <span class="unbold">Sure thing. Just give your list
     '</span><%= @list.name %><span class="unbold">' a new name.</span>
    </p>
  </div>
<% end %>

<form action="/lists/<%= @list.path %>/rename" method="post">
  <dl>
    <dd>
      <input name="list_name" placeholder="List name" type="text" value="<%= params['list_name'] || @list.name %>">
    </dd>
  </dl>
  <dl>
    <fieldset class="actions">
      <input type="submit" value="Rename">
      <a href="/lists/<%= @list.path %>" class="button-like">Cancel</a>
    </fieldset>
  </dl>
</form>

<hr>

<div class="major">
  <p><a href="/lists">< ALL LISTS</a></p>
</div>
